<%= turbo_frame_tag 'form_proponent' do %>
  <%= form_with model: proponent, url: proponent.persisted? ? public_proponents_path : public_proponents_path(proponent), data: {controller: "inss mask"} do |f| %>
    <section class="row">
      <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
        <%= render TextFieldComponent.new(form: f, field_name: :name, label: "Nome", error_message: proponent.errors.messages[:name]) %>
      </div>

      <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2">
        <%= render TextFieldComponent.new(form: f, field_name: :name, label: "Documento", error_message: proponent.errors.messages[:document]) %>
      </div>

      <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
        <%= render TextFieldComponent.new(form: f, field_name: :name, label: "Data de Nascimento", type: "date", error_message: proponent.errors.messages[:birth_date]) %>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-2 col-xl-2">
        <%= render TextFieldComponent.new(form: f, field_name: :name, label: "Salário", data: { mask_target: "moneyMask" }, error_message: proponent.errors.messages[:salary]) %>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-2 col-xl-2">
        <%= render TextFieldComponent.new(form: f, field_name: :name, label: "Desconto do INSS", data: { mask_target: "moneyMask" }, disabled: true, error_message: proponent.errors.messages[:inss_discount]) %>
      </div>
    </section>

    <%= f.fields_for :addresses do |address| %>
      <% render "form_address", address: address %>
    <% end %>

    <%= f.fields_for :contacts do |contact| %>
      <% render "form_contact", contact: contact %>
    <% end %>

    <%= render ButtonComponent.new(form: f, label: btn_save) %>
  <% end %>
<% end %>
