<div data-nested-form-target="wrapper">
  <%= f.hidden_field :_destroy %>

  <h3 class="text-center my-4 fs-4 fw-bold">Contato</h3>

  <div class="row" data-controller="contact-type" data-contact-type-initial-value="<%= contact.contact_type %>">
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <%= render SelectFieldComponent.new(form: f, field_name: :contact_type, label: "Tipo",
          options: contact_types, selected: contact.contact_type,
          data: { action: "change->contact-type#toggleEmailField" },
          error_message: contact.errors[:contact_type])
      %>
    </div>

    <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
      <div data-number-field class="<%= contact.email? ? 'd-none' : 'd-block' %>">
        <%= render TextFieldComponent.new(form: f, field_name: :value, label: "Número", data: { mask_target: "mobileMask" }, error_message: contact.errors[:value]) %>
      </div>

      <div data-email-field class="<%= contact.email? ? 'd-block' : 'd-none' %>">
        <%= render TextFieldComponent.new(form: f, field_name: :value, label: "E-mail", error_message: contact.errors[:value]) %>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-start">
    <%= link_to "Remover contato", "#", data: { action: "nested-form#removeAssociation" }, class: "btn btn-danger mt-2" %>
  </div>
</div>
