<div class="row g-4">
  <div class="col-12 d-flex gap-4">
    <div class="card border-0 shadow-lg flex-fill">
      <div class="card-body">
        <h5 class="card-title">Proponentes</h5>
        <p class="card-text fs-4"><%= @proponents_count %></p>
      </div>
    </div>

    <div class="card border-0 shadow-lg flex-fill">
      <div class="card-body">
        <h5 class="card-title">Sal치rios Registrados</h5>
        <p class="card-text fs-4"><%= number_to_currency(@salaries_total) %></p>
      </div>
    </div>

    <div class="card border-0 shadow-lg flex-fill">
      <div class="card-body">
        <h5 class="card-title">Descontos INSS</h5>
        <p class="card-text fs-4"><%= number_to_currency(@discounts_total) %></p>
      </div>
    </div>
  </div>

  <div class="row my-5">
    <% @tracks.each do |track| %>
      <div class="col-3">
        <div class="card">
          <div class="card-body text-center">
            <h4 class="card-title">Faixa sal치rial</h4>
            <p class="card-text"><%= track[:name] %></p>

            <span class="card-link">
              Quantidade

              <p class="fw-bold">
                <%= @proponents.find { |p| p[:track] == track[:name] }&.dig(:quantity) || 0 %>
              </p>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-1"></div>

  <div class="col-6">
    <canvas style="max-height: 150px;" data-controller="chart" data-chart-labels-value="<%= @proponents.map { |p| p[:track] } %>"
      data-chart-data-value="<%= @proponents.map { |p| p[:quantity] } %>"
      data-chart-title-value="Funcion치rios por faixa salarial">
    </canvas>
  </div>

  <div class="col-4">
    <canvas style="max-height: 150px;" data-controller="chart" data-chart-type-value="pie" data-chart-labels-value="<%= @proponents.map { |p| p[:track] } %>"
      data-chart-data-value="<%= @proponents.map { |p| p[:quantity] } %>"
      data-chart-title-value="Funcion치rios por faixa salarial">
    </canvas>
  </div>

  <div class="col-1"></div>
</div>
